$first-color:#9356DC;
$second-color:#FF79DA;
$third-color:#99E2D0;
$box: 0 3px 15px 0;
$green:rgb(1,0,0);
$alpha:.2;
@font-face {
    font-family: 'shrikhandregular';
    src: url('../fonts/shrikhand/shrikhand-regular-webfont.woff2') format('woff2'),
         url('..fonts/shrikhand/shrikhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
    @font-face {
        font-family: 'robotothin';
        src: url('../fonts/roboto/roboto-thin-webfont.woff2') format('woff2'),
             url('../fonts/roboto/roboto-thin-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    @font-face {
        font-family: 'robotomedium';
        src: url('../fonts/roboto/roboto-medium-webfont.woff2') format('woff2'),
             url('../fonts/roboto/roboto-medium-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
   
@mixin flex{
    display: flex !important;
    justify-content: center;
    align-items: center;
}
@mixin circle{
        margin-left: 2rem;
        margin-right: 1rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        animation: circle1  1s ease-in-out alternate-reverse infinite;
        animation-delay: 0.2s;
}

@mixin linear {
    background: linear-gradient(
        175deg
        , #FF79DA 10%, #9356DC 90%);
        background-clip: text;
-webkit-background-clip: text;
color: transparent;
}
body{
    
    padding:0;
    margin: 0;
    .load-spinner{
        @include flex;
        position: fixed;
        height: 100%;
        width: 100%;
        animation:load 3s ease-in-out forwards;
        opacity: 1;
        background-color: hsla(0,0%, 90%, 0.9);
        z-index: 200;
 @keyframes load{
    0% {
            opacity: 1;
        }
        50% {
            opacity: 0.7;
        }
        
        75% {
            opacity: 0.3;
        }
        100% {
            visibility: hidden;
            opacity: 0;
        }}}
        .ohmyfood {
            display: block; 
        h1 {
            font-size :100px;
            font-family: 'shrikhandregular';
            
        }
ul{
        @include flex; 
        list-style: none;
        padding: 0;

    .circle1{
        @include circle;
        background-color: $first-color ;
        animation: circle1  1s ease-in-out alternate-reverse infinite;
         animation-delay: 0.2s;
 @keyframes circle1{
    from {opacity: 0;
        transform:scale(0);}
     to{opacity:1;
    transform:scale(1.5);}
 } }
.circle2{
        @include circle;
        background-color: $second-color ;
        animation: circle2  1s ease-in-out alternate-reverse infinite;
        animation-delay: 0.5s;
 @keyframes circle2{
        0%{
            opacity: 0;
            transform: scale(0);
        }
        100%{opacity: 1;
            
            transform: scale(1.5);
        }
    }
}
    .circle3{
        @include circle;
        background-color:$third-color;
        animation: circle3  1s ease-in-out alternate-reverse infinite;
        animation-delay: 0.8s;
 @keyframes circle3{
        0%{
            opacity: 0;
            transform: scale(0);
        }
     100%{opacity: 1;
    transform: scale(1.5);
          }
      }
    }
}}
   .logo-myfood{
    @include flex;
    box-shadow:$box rgba($green,$alpha);


 img{
    width: 180px;
    margin-top: 1rem;
    margin-bottom: 1rem;}
}
.main{
    width:100%;
    
}
.localitation{
    @include flex;
    margin-top: 0.5rem;
    background-color: #f3f3f1;


 i{
    @include flex;
    margin-right: 1rem;}
    

 p{
    font-family: 'robotomedium';
    font-size: 1.25rem;
    font-weight: 400;
    
}
}
.wrapper{
    
    text-align: center;
    background-color: #f6f6f6;
    margin-top: -1.5rem;
    @media(max-width:766px)
    {
        margin-top: 0;
    }
 h2{font-family: 'robotomedium';
    font-size: 1.7rem;
    font-weight: 600;

    padding-top: 1rem;
    @media(max-width:766px){
        margin: auto;
        text-align: center;
        width: 80%;
        padding-top: 2rem;
    }
}
p{ font-family: 'robotothin';
   font-size: 1.10rem;
    font-weight: 100 ;
    
    @media (max-width:766px){
        width: 90%;
        margin: auto;
        padding-bottom: 2rem;
        padding-top: 1rem;
    }
}


}
.button1{
    font-family: 'robotomedium';
    background: linear-gradient(
        175deg
        , #FF79DA 10%, #9356DC 90%);
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    border: none;
    width: 250px;
    height: 60px;
    border-radius: 100px;
     box-shadow:$box rgba($green,$alpha);
    margin-bottom: 2rem;
     transition-duration: 200ms;   
     transition-property: transform;
     transform: scale(1);
     animation:button 0.5s ease-in-out infinite;
&:hover{
    transform: scale(0.90);
    box-shadow:$box rgba($green,$alpha+5%);
    opacity: 0.8;
}
}
.choix-father{
    
    @include flex;
    flex-direction: column;
    @media(max-width:1024px){
        display: flex;
        flex-direction: column;
    h2{
    font-family: 'robotomedium';   
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    
    @media (max-width:766px)
    {
     text-align:left;
     width: 90%;
    }
}}
.choix-child{
@include flex;
    column-gap: 3rem;
    
    @media(max-width:1024px){
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }
    @media (max-width:766px){
        @include flex;
        row-gap: 2rem;
    
        flex-direction: column;
        
        width: 95%;
        
    

    }
.choix-1{
    
    @include flex;
    cursor: pointer;
    justify-content: flex-start;
    width: 270px;
    height: 70px;
    border-radius: 25px;
    background:#f6f6f6;
    @media(max-width:10240px){
        
        margin: auto;
    }
    @media (max-width:766px){
        width: 90%;
    }
    &:hover {
        background:#f2eafb;
        i{
            color: $first-color;
        }
    }
        
i{  padding-right: 1rem;
    padding-left: 1.25rem;
    color:gray;
    
}
 p{
    font-family: 'robotomedium';
    font-size: 1rem;
    font-weight: 400;
    
    white-space: nowrap;
}
}
.number{
    
    @include flex;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background:$first-color;
    color: #fff;
    margin-left: -0.5rem;
}}}
.container{

    background:#f6f6f6;  
    @media (max-width:766px)
    {
        margin-bottom: -1.5rem;
    }
h2{
    font-family: 'robotomedium';
    padding-top: 2rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    
    @media(max-width: 766px){
        padding-left: 1rem;
        padding-top: 2rem;
        text-align: left;
    }
}
.container-child{
    display: grid;
    column-gap: 2rem;
    grid-template-columns: repeat(2,1fr);
    row-gap: 2rem;
    padding-bottom: 2rem;
    margin: 1rem;
    @media(max-width:766px)
    {
        display:flex;
            flex-direction: column;
            margin: 0;
            padding-bottom: 4rem; 
            row-gap: 2rem;
            
    }
    a{
        text-decoration: none;
    &:visited{
        color: #000;
        }
}
.container-cd-1{
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    height: 90%;
    cursor: pointer;
    position: relative;
    @media(max-width:766px)
    {
        width: 90%;
        margin: auto;
    }
     img{
        width: 100%;
        height: 12rem;
        object-fit: cover;
    }
}
.new{
    font-family: 'robotomedium';
    @include flex;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 85px;
    height: 27px;
    background: #99E2D0;
    color: #278870;
    animation: new 0.5s ease-in-out infinite;
    
}

.menu{
    height: 120px;
    @include flex;
    justify-content: space-between;
    @media(max-width:766px)
    {
        height: 70px;
        line-height: 2px;
    }
}
.menu1{
    padding-bottom: 2rem;
    padding-left: 1rem;
    @media(max-width:766px)
    {
        padding-top: 1.5rem;
    }
     h3{
    font-size: 1.25rem;
    font-weight: 600;
    font-family: 'robotomedium';
    line-height: 0.5rem;
    
}
 p
 {
     @extend h3;
    font-weight:300;
    font-family: 'robotothin';
}
}
.menu2{
    width: 3rem;
    padding-bottom: 1rem;
}
.fas{
    @include linear;
    font-size: 30px;
    cursor: pointer;
     position: absolute;
    opacity: 0;
    transition-duration: 1.5s;
  &:hover{
    opacity: 1;
    transform: scale(1.1);
  }  
}
.far{
    font-size: 30px;
    color: grey;
}
}
}

.foot{
    height: 200px;
    margin-top: -2rem;
    background: #353535;
    color: #fafafa;
    @media(max-width:1024px){
       height: 300px; 
    }
   
    h1{  font-family: 'shrikhandregular';
        text-align: left;
        padding-left: 2rem;
        padding-top: 2rem;
        
        @media(max-width: 1024px){
            text-align: center !important;
            padding-left: 0 !important;
        }
        @media(max-width: 666px)
        { 
            text-align: left !important;
            margin-left: 1rem;
        }
        }
    ul{
        
        @include flex;
    justify-content: space-between;
list-style: none;
width: 80%;
padding-bottom: 2rem;
@media(max-width :1024px){
    display: block !important;
    line-height: 2px;
    margin-left: 2rem;
}
@media(max-width:666px){
    display: block !important;
    line-height:3px;
    margin-left: -1rem;
    
}


li{
    font-family: 'robotothin';
    @include flex;
     @media(max-width:666px){
     @include flex;
     justify-content: flex-start;
 }
    
    i{padding-right: 0.5rem;}
    a{
        text-decoration: none;
        color:#fff;
    }
}
}
}
}