

Body{    
padding: 0;
margin: 0;
}
@font-face {
    font-family: "shrinkhand-regular.otf";
    src: url("/shrimkhand/shrinkhand-regular.otf") format("opentype"),
           
   }
   @font-face {
    font-family: "Roboto-Medium.ttf";
    src: url("/roboto/Roboto-Medium.ttf") format("truetype"),
           
   }  
   
.load-spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
    animation:load 6s ease-in-out forwards;
    opacity: 1;
    background-color: hsla(0,0%, 90%, 0.9);
    z-index: 200;
}
@keyframes load{

    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
    
    75% {
        opacity: 0.3;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
    
    }
.ohmyfood{
    display: block;
    
}
.ohmyfood h1{
    
    font-size: 50px;
    font-family:Shrikhand,"cursive";
}
.loading{
    display: flex;
    justify-content: center;
    
}
.circle1{
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #9356DC ;
    animation: circle1  1s ease-in-out alternate-reverse infinite;
    
    animation-delay: 0.2s;
    
}
@keyframes circle1{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{opacity: 1;
        
        transform: scale(1.5);
    }
}
.circle2{
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #FF79DA ;
    animation: circle2  1s ease-in-out alternate-reverse infinite;
    animation-delay: 0.5s;
    
}
@keyframes circle2{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{opacity: 1;
        
        transform: scale(1.5);
    }
}
.circle3{
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #99E2D0;
    animation: circle3  1s ease-in-out alternate-reverse infinite;
    animation-delay: 0.8s;
    
}
@keyframes circle3{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    
    100%{opacity: 1;
        
        transform: scale(1.5);
    }
}

.logo-myfood{
    display: flex;
    justify-content: center;
    box-shadow:0 5px 10px 0 rgb(0 0 0 / 15%);

}
.logo-myfood img{
    width: 150px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.localitation{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    background-color: #f3f3f3;
    
}
.localitation i{
    display: flex;
    align-items: center;
    margin-right: 1rem;
    
}
.localitation p{
    font-size: 1.25rem;
    font-weight: 600;
    font-family:"roboto",sans-serif;
}
.wrapper{
    text-align: center;
    background-color: #fafafa;
    margin-top: -1.5rem;
}
.wrapper h1{
    font-size: 1.5rem;
    font-weight: 600;
    font-family:"roboto",sans-serif;
    padding-top: 1rem;
}
.wrapper p{
    font-size: 1.10rem;
    font-weight: 300;
    font-family:"roboto",sans-serif;
}
.button1{
    
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    border: none;
    width: 250px;
    height: 60px;
    border-radius: 100px;
    background: linear-gradient(
        175deg
        , #FF79DA 10%, #9356DC 95%);
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
    margin-bottom: 2rem;
     transition-duration: 200ms;   
     transition-property: transform;
     transform: scale(1);
     animation:button 0.5s ease-in-out infinite;

}
@keyframes button{
    0%{
        background: linear-gradient(
            175deg
            , #FF79DA 10%, #9356DC 90%);
            box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);  
    }
    50%{
        background:linear-gradient(
        175deg
        , #FF79DA 100%, #9356DC 0%);
        box-shadow: 0.2rem 0.2rem 1px rgb(0 0 0 / 5%);
    }
    100%{
        background:linear-gradient(
        175deg
        , #FF79DA 10%, #9356DC 90%);
        box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
    }
}
.button1:hover{
    transform: scale(0.90);
    box-shadow: 0 5px 8px 0 rgb(0 0 0 / 30%);
}
.choix-father{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.choix-titre h2{
    font-size: 1.5rem;
    font-weight: 600;
    font-family:"roboto",sans-serif;  
}
.choix-child{
    display: flex;
    column-gap: 3rem;
    width: 100%;
    justify-content: center;
}
.choix-1{
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 260px;
    height: 70px;
    border-radius: 25px;
    background:#f6f6f6;
}

.number{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: #9356DC;
    color: #fff;
    margin-left: -1rem;
    
}
.choix-1 i{
    padding-left: 1.25rem;
    color:gray;
}
.choix-1 p{
    padding-left: 0.5rem;
    padding-right: 1rem;
    font-size: 1rem;
    font-weight: 600;
    font-family:"roboto",sans-serif;
}
.choix-2{
    
    display: flex;
    align-items: center;
    justify-content:flex-start;
    width: 260px;
    height: 70px;
    border-radius: 25px;
    background:#f2eafb;
}

.choix-2 i{
    padding-left: 1.25rem;
    color:grey;
}
.choix-2 p{
    padding-left: 0.5rem;
    padding-right: 1rem;
    font-size: 1rem;
    font-weight: 600;
    font-family:"roboto",sans-serif;
}

.container{
    background:#f6f6f6;  
    
}
.container h2{
    padding-top: 2rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    font-family:"roboto",sans-serif;
}
.container-child{
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    grid-template-columns: repeat(2,1fr);
    
    
    margin: 2rem 2rem;
}
.container-cd-1{
    background: white;
    border-radius: 20px;
    overflow: hidden;
    height: 90%;
    cursor: pointer;
    position: relative;
}
.new{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 65px;
    height: 22px;
    background: #99E2D0;
    color: #278870;
    animation: new 0.5s ease-in-out infinite;
}
@keyframes new{
    from{
    background: #99E2D0;
    color: #278870;
    }
    to{
    color: #99E2D0;
    background: #278870;
    }
}
.container-child a{
    text-decoration: none;
}
.container-child a:visited{
    color: #000;
    
}
.container-cd-1 img{
    width: 100%;
    height: 12rem;
    object-fit: cover;
}
.menu{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu1{
    padding-bottom: 2rem;
    padding-left: 1rem;
}
.menu1 h3{
    font-size: 1.25rem;
    font-weight: 600;
    font-family:"roboto",sans-serif;
}
.menu1 p{
    font-size: 1.25rem;
    font-weight:300;
    font-family:"roboto",sans-serif;
}

.menu2{
    width: 3rem;
}
.menu2 span{
    cursor: pointer;
    color: #FF79DA;
    position: absolute;
    opacity: 0;
}
.menu2 span:hover{
    opacity: 1;

}
.foot{
    margin-top: -2rem;
    background: #353535;
    color: #fafafa;
}
.foot-myfood h1{
    font-size: 1.5rem;
    font-weight: 300;
    font-family:"shrikhand",cursive;
    padding-top: 2rem;
    margin-left: 2rem;
    width: 150px;
}
.foot-list{
    display: flex;
    justify-content: space-between;
    width:90% ;
    margin-left: 2rem;
}
.foot-list-child{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

}
.foot-list-child p{
    font-size: 1rem;
    font-weight: 300;
    font-family:"roboto",sans-serif;
    text-decoration: none;
}
.foot-list-child  a{
    cursor: pointer;
    text-decoration: none;
    color:#fff;

}
@media screen and (max-width:1024px)
{
    .choix-father{
        display: flex;
        flex-direction: column;
        
    }
    
    .choix-child {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }
    .foot-myfood h1{
        text-align: center;
        width: 100%;
        margin-left: 0;
        line-height: 2px;

    }
    .choix-1{
        width: 70%;
        margin: auto;
    }
    .choix-2{
        width: 70%;
        margin: auto;
    }
}
@media screen and (max-width:766px)
{
    .wrapper{
        margin-top: 0;
    }
    .wrapper h1 {
        margin: auto;
        text-align: center;
        width: 80%;
        padding-top: 2rem;

    }
    .wrapper p{
    width: 90%;
    margin: auto;
    padding-bottom: 2rem;
    padding-top: 1rem;
    }
    .choix-child {
        row-gap: 2rem;
        display: flex;
        flex-direction: column;
        /* column-gap: 3rem; */
        width: 100%;
        align-items: center;
        /* margin: auto; */
        justify-content: center;}

    .choix-titre{
            width: 90%;
        }
    .choix-titre h2{
        text-align: left;
    }    
    .choix-1,.choix-2{
        width: 90%;
    }    
    .number{
        margin-left: -0.5rem;
    }
    .container{
        margin-bottom: -1.5rem;
    }    
    .container h2{
        padding-left: 1rem;
        padding-top: 2rem;
        text-align: left;
    }    

    .container-child {
            display:flex;
            flex-direction: column;
            margin: 0;
            padding-bottom: 4rem;
        }
    .container-cd-1{
        width: 90%;
        margin: auto;
    }  
    .menu{
        height: 70px;
        line-height: 2px;
    }  
    .menu1{
        padding-bottom: 1rem;
    }
    .foot-myfood h1{
        text-align: left;
        width: 50%;
        padding-left: 2rem;
        line-height: 2px;
    }
    .foot-list {
                margin-left:2rem ;
                display: block;
                height: 170px;
                width: 90%;
                line-height: 2px;
            }
                   
    .foot-list-child {
                margin-bottom: 0;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                
            }        
        
}
    .foot-list-child i{
                margin-right:1rem;
}
    
