@font-face {
  font-family: 'shrikhand';
  src: url("/assets/fonts/shrikhand-regular.otf") format("opentype"); }

@font-face {
  font-family: "Roboto-Medium.ttf";
  src: url("assets/fonts/roboto/Roboto-Medium.ttf") format("truetype"); }

body {
  padding: 0;
  margin: 0; }
  body .load-spinner {
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
    animation: load 3s ease-in-out forwards;
    opacity: 1;
    background-color: rgba(230, 230, 230, 0.9);
    z-index: 200; }

@keyframes load {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.7; }
  75% {
    opacity: 0.3; }
  100% {
    visibility: hidden;
    opacity: 0; } }
  body .ohmyfood {
    display: block; }
    body .ohmyfood h1 {
      font-size: 50px;
      font-family: 'Shrikhand'; }
    body .ohmyfood ul {
      display: flex !important;
      justify-content: center;
      align-items: center;
      list-style: none;
      padding: 0; }
      body .ohmyfood ul .circle1 {
        margin-left: 2rem;
        margin-right: 1rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        animation: circle1  1s ease-in-out alternate-reverse infinite;
        animation-delay: 0.2s;
        background-color: #9356DC;
        animation: circle1  1s ease-in-out alternate-reverse infinite;
        animation-delay: 0.2s; }

@keyframes circle1 {
  from {
    opacity: 0;
    transform: scale(0); }
  to {
    opacity: 1;
    transform: scale(1.5); } }
      body .ohmyfood ul .circle2 {
        margin-left: 2rem;
        margin-right: 1rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        animation: circle1  1s ease-in-out alternate-reverse infinite;
        animation-delay: 0.2s;
        background-color: #FF79DA;
        animation: circle2  1s ease-in-out alternate-reverse infinite;
        animation-delay: 0.5s; }

@keyframes circle2 {
  0% {
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1.5); } }
      body .ohmyfood ul .circle3 {
        margin-left: 2rem;
        margin-right: 1rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        animation: circle1  1s ease-in-out alternate-reverse infinite;
        animation-delay: 0.2s;
        background-color: #99E2D0;
        animation: circle3  1s ease-in-out alternate-reverse infinite;
        animation-delay: 0.8s; }

@keyframes circle3 {
  0% {
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1.5); } }
  body .logo-myfood {
    display: flex !important;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 15px 0 rgba(1, 0, 0, 0.2); }
    body .logo-myfood img {
      width: 180px;
      margin-top: 1rem;
      margin-bottom: 1rem; }
  body .localitation {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    background-color: #f3f3f1; }
    body .localitation i {
      display: flex !important;
      justify-content: center;
      align-items: center;
      margin-right: 1rem; }
    body .localitation p {
      font-size: 1.25rem;
      font-weight: 400;
      font-family: "roboto",sans-serif; }
  body .wrapper {
    text-align: center;
    background-color: #f6f6f6;
    margin-top: -1.5rem; }
    @media (max-width: 766px) {
      body .wrapper {
        margin-top: 0; } }
    body .wrapper h2 {
      font-size: 1.7rem;
      font-weight: 600;
      font-family: "roboto",sans-serif;
      padding-top: 1rem; }
      @media (max-width: 766px) {
        body .wrapper h2 {
          margin: auto;
          text-align: center;
          width: 80%;
          padding-top: 2rem; } }
    body .wrapper p {
      font-size: 1.10rem;
      font-weight: 300;
      font-family: "roboto",sans-serif; }
      @media (max-width: 766px) {
        body .wrapper p {
          width: 90%;
          margin: auto;
          padding-bottom: 2rem;
          padding-top: 1rem; } }
  body .button1 {
    background: linear-gradient(175deg, #FF79DA 10%, #9356DC 90%);
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    border: none;
    width: 250px;
    height: 60px;
    border-radius: 100px;
    box-shadow: 0 3px 15px 0 rgba(1, 0, 0, 0.2);
    margin-bottom: 2rem;
    transition-duration: 200ms;
    transition-property: transform;
    transform: scale(1);
    animation: button 0.5s ease-in-out infinite; }
    body .button1:hover {
      transform: scale(0.9);
      box-shadow: 0 3px 15px 0 #010000;
      opacity: 0.8; }
  body .choix-father {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    @media (max-width: 1024px) {
      body .choix-father {
        display: flex;
        flex-direction: column; }
        body .choix-father h2 {
          text-align: center;
          width: 100%;
          font-size: 1.5rem;
          font-weight: 500;
          font-family: "roboto",sans-serif; } }
    @media (max-width: 1024px) and (max-width: 766px) {
      body .choix-father h2 {
        text-align: left;
        width: 90%; } }
    body .choix-father .choix-child {
      display: flex !important;
      justify-content: center;
      align-items: center;
      column-gap: 3rem; }
      @media (max-width: 1024px) {
        body .choix-father .choix-child {
          display: flex;
          flex-direction: column;
          row-gap: 2rem; } }
      @media (max-width: 766px) {
        body .choix-father .choix-child {
          display: flex !important;
          justify-content: center;
          align-items: center;
          row-gap: 2rem;
          flex-direction: column;
          width: 95%; } }
      body .choix-father .choix-child .choix-1 {
        display: flex !important;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        justify-content: flex-start;
        width: 270px;
        height: 70px;
        border-radius: 25px;
        background: #f6f6f6; }
        @media (max-width: 10240px) {
          body .choix-father .choix-child .choix-1 {
            margin: auto; } }
        @media (max-width: 766px) {
          body .choix-father .choix-child .choix-1 {
            width: 90%; } }
        body .choix-father .choix-child .choix-1:hover {
          background: #f2eafb; }
          body .choix-father .choix-child .choix-1:hover i {
            color: #9356DC; }
        body .choix-father .choix-child .choix-1 i {
          padding-right: 1rem;
          padding-left: 1.25rem;
          color: gray; }
        body .choix-father .choix-child .choix-1 p {
          font-size: 1rem;
          font-weight: 400;
          font-family: "roboto",sans-serif;
          white-space: nowrap; }
      body .choix-father .choix-child .number {
        display: flex !important;
        justify-content: center;
        align-items: center;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        background: #9356DC;
        color: #fff;
        margin-left: -0.5rem; }
  body .container {
    background: #f6f6f6; }
    @media (max-width: 766px) {
      body .container {
        margin-bottom: -1.5rem; } }
    body .container h2 {
      padding-top: 2rem;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 600;
      font-family: "roboto",sans-serif; }
      @media (max-width: 766px) {
        body .container h2 {
          padding-left: 1rem;
          padding-top: 2rem;
          text-align: left; } }
    body .container .container-child {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding-bottom: 2rem; }
      @media (max-width: 766px) {
        body .container .container-child {
          display: flex;
          flex-direction: column;
          margin: 0;
          padding-bottom: 4rem;
          row-gap: 2rem; } }
      body .container .container-child a {
        text-decoration: none; }
        body .container .container-child a:visited {
          color: #000; }
      body .container .container-child .container-cd-1 {
        background: #fff;
        border-radius: 20px;
        overflow: hidden;
        height: 90%;
        cursor: pointer;
        position: relative; }
        @media (max-width: 766px) {
          body .container .container-child .container-cd-1 {
            width: 90%;
            margin: auto; } }
        body .container .container-child .container-cd-1 img {
          width: 100%;
          height: 12rem;
          object-fit: cover; }
      body .container .container-child .new {
        display: flex !important;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 85px;
        height: 27px;
        background: #99E2D0;
        color: #278870;
        animation: new 0.5s ease-in-out infinite;
        font-family: sans-serif; }
      body .container .container-child .menu {
        height: 90px;
        display: flex !important;
        justify-content: center;
        align-items: center;
        justify-content: space-between; }
        @media (max-width: 766px) {
          body .container .container-child .menu {
            height: 70px;
            line-height: 2px; } }
      body .container .container-child .menu1 {
        padding-left: 1rem; }
        @media (max-width: 766px) {
          body .container .container-child .menu1 {
            padding-top: 0; } }
        body .container .container-child .menu1 h3, body .container .container-child .menu1 p {
          font-size: 1.25rem;
          font-weight: 600;
          font-family: "roboto",sans-serif;
          line-height: 0.5rem; }
        body .container .container-child .menu1 p {
          font-weight: 300; }
      body .container .container-child .menu2 {
        width: 3rem; }
      body .container .container-child .fas {
        background: linear-gradient(175deg, #FF79DA 10%, #9356DC 90%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        opacity: 0;
        transition-duration: 1.5s; }
        body .container .container-child .fas:hover {
          opacity: 1;
          transform: scale(1.1); }
      body .container .container-child .far {
        font-size: 30px;
        color: grey; }
  body .foot {
    height: 200px;
    margin-top: -2rem;
    background: #353535;
    color: #fafafa; }
    @media (max-width: 1024px) {
      body .foot {
        height: 300px; } }
    body .foot h1 {
      text-align: left;
      padding-left: 2rem;
      padding-top: 2rem; }
      @media (max-width: 1024px) {
        body .foot h1 {
          text-align: center !important;
          padding-left: 0 !important; } }
      @media (max-width: 666px) {
        body .foot h1 {
          text-align: left !important;
          margin-left: 1rem; } }
    body .foot ul {
      display: flex !important;
      justify-content: center;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      width: 80%;
      padding-bottom: 2rem; }
      @media (max-width: 1024px) {
        body .foot ul {
          display: block !important;
          line-height: 2px;
          margin-left: 2rem; } }
      @media (max-width: 666px) {
        body .foot ul {
          display: block !important;
          line-height: 3px;
          margin-left: -1rem; } }
      body .foot ul li {
        display: flex !important;
        justify-content: center;
        align-items: center; }
        @media (max-width: 666px) {
          body .foot ul li {
            display: flex !important;
            justify-content: center;
            align-items: center;
            justify-content: flex-start; } }
        body .foot ul li i {
          padding-right: 0.5rem; }
        body .foot ul li a {
          text-decoration: none;
          color: #fff; }

@font-face {
  font-family: 'shrikhand';
  src: url("/assets/fonts/shrikhand-regular.otf") format("opentype"); }

@font-face {
  font-family: 'Roboto';
  src: url("/assets/fonts/Roboto-Medium.ttf") format("truetype"); }

body {
  margin: 0;
  padding: 0; }
  body .lds-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    background: gray;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 200;
    opacity: 1;
    animation: fixed 1s ease-in-out forwards; }

@keyframes fixed {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.7; }
  75% {
    opacity: 0.5; }
  90% {
    opacity: 0.3; }
  100% {
    visibility: hidden;
    opacity: 0; } }
  body .lds-spinner span {
    background: #99E2D0;
    transform-origin: 0px 50px;
    animation: lds-spinner 1.2s ease-in-out infinite;
    display: flex;
    position: absolute;
    width: 8px;
    height: 18px;
    border-radius: 20%;
    background: #fff; }
    body .lds-spinner span:nth-child(1) {
      transform: rotate(0deg);
      animation-delay: -1.1s; }
    body .lds-spinner span:nth-child(2) {
      transform: rotate(30deg);
      animation-delay: -1s; }
    body .lds-spinner span:nth-child(3) {
      transform: rotate(60deg);
      animation-delay: -0.9s; }
    body .lds-spinner span:nth-child(4) {
      transform: rotate(90deg);
      animation-delay: -0.8s; }
    body .lds-spinner span:nth-child(5) {
      transform: rotate(120deg);
      animation-delay: -0.7s; }
    body .lds-spinner span:nth-child(6) {
      transform: rotate(150deg);
      animation-delay: -0.6s; }
    body .lds-spinner span:nth-child(7) {
      transform: rotate(180deg);
      animation-delay: -0.5s; }
    body .lds-spinner span:nth-child(8) {
      transform: rotate(210deg);
      animation-delay: -0.4s; }
    body .lds-spinner span:nth-child(9) {
      transform: rotate(240deg);
      animation-delay: -0.3s; }
    body .lds-spinner span:nth-child(10) {
      transform: rotate(270deg);
      animation-delay: -0.2s; }
    body .lds-spinner span:nth-child(11) {
      transform: rotate(300deg);
      animation-delay: -0.1s; }
    body .lds-spinner span:nth-child(12) {
      transform: rotate(330deg);
      animation-delay: 0s; }

@keyframes lds-spinner {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
  body .titre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background: #fff;
    flex-direction: row;
    justify-content: space-between; }
    @media (max-width: 766px) {
      body .titre {
        height: 50px;
        padding-top: 1rem;
        width: 70%; } }
    body .titre h1 {
      font-family: 'shrikhand',cursive;
      font-weight: 600; }
    body .titre a {
      text-decoration: none; }
      body .titre a:visited {
        color: #000; }
    body .titre i {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 2.5rem;
      font-size: 25px;
      height: 2.5rem;
      margin-left: 2rem; }
      @media (max-width: 766px) {
        body .titre i {
          font-size: 19px;
          margin-left: 0.5rem; } }
      body .titre i:hover {
        background: #dcdcdc; }
  body .image {
    height: 370px; }
    @media (max-width: 766px) {
      body .image {
        height: 300px; } }
    body .image img {
      object-fit: cover;
      width: 100%;
      height: 400px; }
  body .menu-francaise {
    position: relative;
    border-radius: 35px 35px 0 0;
    height: 60%;
    width: 100%;
    background: #f6f6f6; }
    @media (max-width: 766px) {
      body .menu-francaise {
        border-radius: 35px 35px 0 0; } }
    body .menu-francaise .menu-cd-1 {
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-between;
      width: 95%;
      margin: auto;
      padding-bottom: 1.5rem; }
      @media (max-width: 766px) {
        body .menu-francaise .menu-cd-1 {
          padding-bottom: 0; } }
      body .menu-francaise .menu-cd-1 h2 {
        font-family: 'shrikhand',cursive;
        font-weight: 200; }
        @media (max-width: 766px) {
          body .menu-francaise .menu-cd-1 h2 {
            font-size: 27px;
            margin-top: 2rem;
            margin-left: 10px; } }
    @media (max-width: 766px) {
      body .menu-francaise .heart {
        margin-right: 1rem;
        margin-top: 1rem; } }
    body .menu-francaise .heart .fas {
      background: linear-gradient(175deg, #FF79DA 10%, #9356DC 90%);
      -webkit-background-clip: text;
      color: transparent;
      font-size: 30px;
      cursor: pointer;
      position: absolute;
      opacity: 0;
      transition-duration: 1.5s; }
      body .menu-francaise .heart .fas:hover {
        opacity: 1;
        transform: scale(1.1); }
    body .menu-francaise .heart .far {
      color: grey;
      font-size: 30px; }
    body .menu-francaise .menu-cd-2 {
      display: flex;
      height: 100%;
      column-gap: 2rem;
      width: 95%;
      margin: auto;
      justify-content: center; }
      @media (max-width: 1025px) {
        body .menu-francaise .menu-cd-2 {
          display: flex;
          flex-direction: column;
          height: 100%; } }
      @media (max-width: 766px) {
        body .menu-francaise .menu-cd-2 {
          display: flex;
          flex-direction: column;
          row-gap: 2rem;
          width: 95%;
          margin: auto;
          height: 100%; } }
      body .menu-francaise .menu-cd-2 .men {
        width: 31%;
        height: 100%;
        margin-bottom: 2rem; }
        @media (max-width: 1024px) {
          body .menu-francaise .menu-cd-2 .men {
            width: 100%;
            margin-top: 1.5rem; } }
        @media (max-width: 766px) {
          body .menu-francaise .menu-cd-2 .men {
            width: 100%;
            height: 100%;
            margin-bottom: 2rem; } }
        body .menu-francaise .menu-cd-2 .men h3, body .menu-francaise .menu-cd-2 .men .container .container-child .menu1 p, body .container .container-child .menu1 .menu-francaise .menu-cd-2 .men p {
          font-family: 'Roboto',sans-serif;
          font-weight: 600;
          line-height: 2rem;
          width: 40px;
          height: 3px;
          margin: 5px 0 12px 0;
          background-color: #99E2D0;
          display: flex;
          flex-direction: column-reverse; }
          @media (max-width: 1024px) {
            body .menu-francaise .menu-cd-2 .men h3, body .menu-francaise .menu-cd-2 .men .container .container-child .menu1 p, body .container .container-child .menu1 .menu-francaise .menu-cd-2 .men p {
              text-align: center;
              width: 100%; } }
          @media (max-width: 766px) {
            body .menu-francaise .menu-cd-2 .men h3, body .menu-francaise .menu-cd-2 .men .container .container-child .menu1 p, body .container .container-child .menu1 .menu-francaise .menu-cd-2 .men p {
              width: 10%;
              text-align: left;
              margin-left: 0.5rem;
              font-weight: 200; } }
        body .menu-francaise .menu-cd-2 .men .item, body .menu-francaise .menu-cd-2 .men .item1, body .menu-francaise .menu-cd-2 .men .item2, body .menu-francaise .menu-cd-2 .men .item3 {
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          margin-top: 1rem;
          border-radius: 15px;
          background-color: #FFF;
          box-shadow: 0 3px 15px 0 rgba(1, 0, 0, 0.2);
          width: 100%;
          animation: child 1s  ease-in-out forwards;
          height: 70px;
          opacity: 0;
          animation-delay: 0.4s; }
          body .menu-francaise .menu-cd-2 .men .item:hover .valider, body .menu-francaise .menu-cd-2 .men .item1:hover .valider, body .menu-francaise .menu-cd-2 .men .item2:hover .valider, body .menu-francaise .menu-cd-2 .men .item3:hover .valider {
            opacity: 1;
            transform: scale(90px);
            width: 90px; }
            body .menu-francaise .menu-cd-2 .men .item:hover .valider i, body .menu-francaise .menu-cd-2 .men .item1:hover .valider i, body .menu-francaise .menu-cd-2 .men .item2:hover .valider i, body .menu-francaise .menu-cd-2 .men .item3:hover .valider i {
              transform: rotate(360deg); }

@keyframes child {
  from {
    transform: translateY(1rem);
    opacity: 0; }
  to {
    transform: translateY(0rem);
    opacity: 1; } }
        body .menu-francaise .menu-cd-2 .men .item1 {
          animation-delay: 0.8s; }
          body .menu-francaise .menu-cd-2 .men .item1:hover .valider {
            opacity: 1;
            transform: scale(90px);
            width: 90px; }
            body .menu-francaise .menu-cd-2 .men .item1:hover .valider i {
              transform: rotate(-360deg); }

@keyframes child {
  from {
    transform: translateY(1rem);
    opacity: 0; }
  to {
    transform: translateY(0rem);
    opacity: 1; } }
        body .menu-francaise .menu-cd-2 .men .item2 {
          animation-delay: 1.2s; }
          body .menu-francaise .menu-cd-2 .men .item2:hover .valider {
            opacity: 1;
            transform: scale(90px);
            width: 90px; }
            body .menu-francaise .menu-cd-2 .men .item2:hover .valider i {
              transform: rotate(-360deg); }

@keyframes child {
  from {
    transform: translateY(1rem);
    opacity: 0; }
  to {
    transform: translateY(0rem);
    opacity: 1; } }
        body .menu-francaise .menu-cd-2 .men .item3 {
          animation-delay: 1.6s; }
          body .menu-francaise .menu-cd-2 .men .item3:hover .valider {
            opacity: 1;
            transform: scale(90px);
            width: 90px; }
            body .menu-francaise .menu-cd-2 .men .item3:hover .valider i {
              transform: rotate(-360deg); }

@keyframes child {
  from {
    transform: translateY(1rem);
    opacity: 0; }
  to {
    transform: translateY(0rem);
    opacity: 1; } }
        body .menu-francaise .menu-cd-2 .men .prix {
          width: 100%;
          margin-left: 1rem;
          margin-right: 1rem;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden; }
          body .menu-francaise .menu-cd-2 .men .prix h4 {
            font-family: "roboto",sans-serif;
            font-weight: 600;
            padding-top: 2rem;
            line-height: 0; }
          body .menu-francaise .menu-cd-2 .men .prix p {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-family: "roboto",sans-serif;
            font-weight: 200;
            padding-bottom: 2rem; }
        body .menu-francaise .menu-cd-2 .men .valider {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          transform: scale(0px);
          width: 0px;
          height: 100%;
          background: #99E2D0;
          transition-duration: 400ms;
          transform-origin: right;
          opacity: 0; }
          body .menu-francaise .menu-cd-2 .men .valider i {
            transition-duration: 1s;
            transform: rotate(0);
            color: #fff; }
        body .menu-francaise .menu-cd-2 .men .price-menu {
          font-family: 'roboto',sans-serif;
          font-weight: bold;
          margin-right: 1rem;
          cursor: pointer; }
          @media (max-width: 766px) {
            body .menu-francaise .menu-cd-2 .men .price-menu {
              padding-top: 2rem; } }
  body .button {
    width: 100%;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 766px) {
      body .button {
        padding-top: 1.5rem;
        padding-bottom: 3rem; } }
    body .button .btn {
      background: linear-gradient(175deg, #FF79DA 10%, #9356DC 90%);
      font-family: "roboto",sans-serif;
      font-weight: 200;
      cursor: pointer;
      font-size: 17px;
      color: #fff;
      border: none;
      width: 200px;
      height: 50px;
      border-radius: 100px;
      box-shadow: 0.25rem 0.25rem 10px ,0.2;
      margin-bottom: 2rem;
      transition-duration: 200ms;
      transition-property: transform;
      transform: scale(1); }
      body .button .btn:hover {
        transform: scale(0.9);
        box-shadow: 0 3px 15px 0 #010000;
        opacity: 0.8; }
  body .foot {
    height: 200px;
    margin-top: -2rem;
    background: #353535;
    color: #fafafa; }
    @media (max-width: 1024px) {
      body .foot {
        height: 300px; } }
    body .foot h1 {
      font-family: 'shrikhand',cursive;
      text-align: left;
      padding-left: 2rem;
      padding-top: 2rem; }
      @media (max-width: 1024px) {
        body .foot h1 {
          text-align: center !important;
          padding-left: 0 !important; } }
      @media (max-width: 666px) {
        body .foot h1 {
          text-align: left !important;
          margin-left: 1rem; } }
    body .foot ul {
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      width: 80%;
      padding-bottom: 2rem; }
      @media (max-width: 1024px) {
        body .foot ul {
          display: block !important;
          line-height: 2px;
          margin-left: 2rem; } }
      @media (max-width: 666px) {
        body .foot ul {
          display: block !important;
          line-height: 3px;
          margin-left: -1rem; } }
      body .foot ul li {
        font-family: 'Roboto',sans-serif;
        display: flex;
        justify-content: center;
        align-items: center; }
        @media (max-width: 666px) {
          body .foot ul li {
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: flex-start; } }
        body .foot ul li i {
          padding-right: 0.5rem; }
        body .foot ul li a {
          text-decoration: none;
          color: #fff; }
